/* style.css */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Primative */

:root {
    --blue80: #3882f6;
    --blue20: #1f2937;
    --white99: #e5e7eb;
    --white100: #f9faf8;

    --heavy: 1400;
    --light: 100;

    --italic: italic;

    --small: 18px;
    --medium: 24px;
    --big: 36px;
    --huge: 48px;
}

/* tags */

blockquote{
    color: var(--blue20);
    font-size: var(--big);
    font-style: var(--italic);
    font-weight: var(--light);
}

button{
    background-color: var(--blue80);
    color:var(--white100);
}

h1{
    color: var(--white100);
    font-size: var(--huge);
    font-weight: var(--heavy);
}

h2{
    color: var(--blue20);
    font-size: var(--big);
    font-weight: var(--heavy);
}

h3{
    color: var(--white100);
    font-size: var(--medium);
}

h4{
    color: var(--white99);
    font-size: var(--small);
}



/* classes */

.bgmain{
    background-color: var(--blue20);
}

.bgcta{
    background-color: var(--blue80);
}

.bgbq{
    background-color: var(--white99);
}