/* style.css */

.hero,
footer {
    background-color: #1f2937;
}

.heromaintext{
    font-size: 48px;
    font-weight: 1400;
    color: #f9faf8;
}

.herosectext,
.headerlinktext{
    font-size: 18px;
    color: #e5e7eb;
}

.button,
.cta{
    color: #3882f6;
}

.infoheadertext{
    font-size: 36px;
    font-weight: 1400;
    color: #1f2937;
}

.quotebackground{
    color: #e5e7eb;
}

.quotetext{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}